<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>

<table>
	<tr>
		<td>First Name</td>
		<td>Last Name</td>
		<td>Username</td>
		<td>Age</td>
		<td></td>
	</tr>
	<% for (var i = 0; i < allUsers.length; i++) { %>
		<tr>
			<td><%= allUsers[i].firstname %></td>
			<td><%= allUsers[i].lastname %></td>
			<td><%= allUsers[i].username %></td>
			<td><%= allUsers[i].age %></td>
			<td><a href="/edit/<%= allUsers[i].id %>">Edit User</a></td>
		</tr>
	<% } %>
</table>

</body>
</html>